.wind-rose {
    /* the "--radius" variable will be set to the radius of the outer circle */
    /* These variables determine the speed bands */
    --alpha: 0.7;
    --speed0:  lch(88% 10 133 / 0.1);
    --speed2:  lch(88% 21 133 / var(--alpha));
    --speed4:  lch(88% 62 133 / var(--alpha));
    --speed6:  lch(93% 36 197 / var(--alpha));
    --speed8:  lch(85% 42 204 / var(--alpha));
    --speed10: lch(77% 42 235 / var(--alpha));
    --speed12: lch(77% 40 258 / var(--alpha));
    --speed14: lch(68% 50 252 / var(--alpha));
    --speed16: lch(62% 35 252 / var(--alpha));
    --speed18: lch(70% 25 107 / var(--alpha));
    --speed20: lch(76% 51 86 / var(--alpha));
    --speed22: lch(80% 63 77 / var(--alpha));
    --speed24: lch(90% 120 39 / var(--alpha));
    --speedmax: lch(71% 69 322 / var(--alpha));

    font: calc(var(--radius) / 20) sans-serif;
    .key {
        /* if a key object is created, it will be inside a foreignObject filling the SVG */
        /* However Safari messes this up, so do it externally or make sure viewBox==clientWidth */
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 2em;
        white-space: nowrap;
        > * {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .scale circle {     /* The scale rings */
        fill: none;
        stroke: #aaa;
        stroke-width: 0.02em;
    }
    .scale text {       /* The text on the scale rings */
        fill: #888;
    }
    .ball {             /* The moving ball showing the current speed */
        fill: var(--speed0);    /* default, overridden */
        circle {
            r: 2em;
            stroke: white;
            stroke-width: 0.1em;
        }
        text {
            text-anchor: middle;
            fill: black;
            transform: translate(0, 0.2em);
        }
    }
}
